
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: 1000;
    padding: 15px 0;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    color: rgb(251, 135, 94);
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    margin-left: 40px;
    margin-top: 8px;
    cursor: pointer;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-right: 15px;
    margin-top: 8px;
    cursor: pointer;
}